:root{
    --bg-color-blue:#0099ff;
    --text-color-black:black;
}

html{
    scroll-behavior: smooth;
    overflow-x:hidden;
    /* overflow-y:hidden; */
    margin:0;
    padding:0;
    /* min-width: 1024px; */
}

body{
    color: #023047;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* min-width:1024px; */
    overflow-x:hidden;
    overflow-y:hidden;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #00000012;
}

.img-normal{
    max-width:none;
}

button,.button{
    outline:none;
    border:none;
}

.button:active, 
 button:active,
.button:focus, 
 button:focus,
.button:hover, 
 button:hover{
    border:none !important;
    outline:none !important;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
input:focus,
input:active,
input,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.form-select:focus,
.form-select:active,
.form-select:hover,
.form-select,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

.text-bold{
    font-weight:bolder;
}

#messages{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    overflow: hidden;
    top: 10px;
    z-index:9999;
}

.message{
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    background-color: #ffffff93;
    align-items: center;
    /* border-radius: 10px; */
    border-left:5px solid rgba(0, 81, 255, 0.738);
    height:50px;
    transition:0.3s;
}

.message button{
    outline: none;
    border:none;
}

.message:hover{
    cursor: pointer;
    transform:translateX(10px);
}

.message i{
    border:none;
    outline:none;
}

.elevated{
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.167);
}

.glass{
    background-color: #ebebeb9a;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.notification-badge{
    background-color: #ff0000;
    color: #ffffff;
    border:2px solid white;
    height: 20px;
    width: 20px;
    display: flex;
    font-size: 10px;
    font-weight: bolder;
    display: flex;
    font-family: monospace;
    padding: 11px;
    align-items: center;
    justify-content: center;
}

.myicon{
    color:grey;
}

.subpage{
    display:flex;
    flex-direction: row;
    gap:10px;
}

.content{
}

#chats{
    overflow-y: scroll;
    width: 100%;
    height: 90%;
    padding: 10px;
}

.chatcontainer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 85vh;
    margin-top:10px;
}

#friends-profiles{
    padding: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    cursor: pointer;
    overflow-y: scroll;
    height: 90%;
    /* padding-bottom:100px; */
}

.heading-text{
    margin:10px;
    margin:none;
}

.center{
    text-align:center;
}

.chatbanner{
    display:flex;
    justify-content: flex-end;
    padding-left:8px;
    padding-right:8px;
}

#current-chat{
    display: flex;
    flex-direction: row;
    gap: 5px;
    /* background-color: blue; */
    align-items: flex-start;
    padding: 3px;
}

#chatdetails{
    display: flex;
    flex-direction: column;
    color: #0c3056;
    font-weight: bolder;
    line-height: 21.3px;
    font-size: 14px;
    align-items:flex-end;
}


.d-flex .rf{
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.profilepic{
    /* background-color: red; */
    width: 50px;
    height:50px;
    min-width:50px;
    min-height:50px;
}


img.availability{
    border:2px solid var(--bs-green);
    object-fit: cover;
    height:100%;
    width:100%;
}

#message-container{
    display: flex;
    position: fixed;
    bottom: 0px;
    background-color: rgb(255, 252, 252);
    align-self: center;
    width: 100%;
    justify-content: space-evenly;
    padding: 5px;
    align-items: center;
    padding:10px 10px;
}

#message{
    outline: none;
    resize: none;
    width: 250px;
    height: 40px;
    outline: none;
    border: 1px solid #8080804f;
    border-radius: 5px;
    padding: 3px 8px;
    box-shadow: 0 1px 16px 0px #3835353b;
    font-size:small;
}


#navbar-heading{
    margin-left:20px;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    width:90%;
}

#navbar-heading h1{
    margin-bottom:0;
}



.content-main,.friends-list{
    overflow: scroll;
    height: 90vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 15px;
    justify-self: center;
    align-self: center;
    transition:0.5s;
}

.friend-list-item{
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    padding: 10px;
    border-radius: 10px;
}

.friend-list-item:hover{
    box-shadow: 0 1px 10px 0px #bdbbbb3f;
    background-color: #eff5f7;
    cursor:pointer;
}

.friend-list-item:hover .action-buttons{
    visibility: visible;
    transition:0.5s;
}

.row1{
    display:flex;
    gap:10px;
}

.row1 .lower{
    display:flex;
    flex-direction:column;
    gap:3px;
}

.action-buttons{
    display:flex;
    visibility: hidden;
    flex-direction:row;
    gap:10px;
    align-self:flex-end;
}

#general-searchbar{
    height:40px;
    padding:3px 8px;
    width:100%;
    outline:none;
    border:none;
    width:30vw;
    border-radius:10px;
}
