{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- Content Start -->
    <div class="content" style="">
        <!-- Widgets Start -->
        <div class="container-fluid pt-2 px-1">
            <div class="chatbanner">
                <div id="current-chat">
                    <div id="chatdetails">
                        <span id="chat-username">{{friend_info.username}}</span>
                        <span id="chat-location">{{friend_info.location}}</span>
                    </div>
                    <div class="position-relative">
                        <img class="rounded-circle" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                </div>
            </div>
            <div class="chatcontainer">
                <div id="friends-profiles" class="">
                    {% for friend in friends %}
                        {% if friend.username != user.username %}
                            <div class="profilepic" data-username="{{friend.username}}" onclick="connectClient('{{friend.username}}')">
                                <img class="rounded-circle availability" src="/{{friend.profile_pic}}" alt="" style="width: 100%; min-width:40px;">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <div id="chats">
                    
                </div>

            </div>
            <div id="message-container">
                <textarea id="message" value="" placeholder="Type message ..."></textarea>
                <button id="send-btn" class="btn">
                    <i class="fa fa-paper-plane fa-lg"></i>
                </button>
                <button id="record-btn" class="btn">
                    <i class="fa fa-microphone fa-lg"></i>
                </button>
            </div>
        </div>
        <!-- Widgets End -->
    </div>
    <!-- Content End -->
{% endblock %}