{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- Content Start -->
    <div class="content" style="">
        <!-- Widgets Start -->
        <div class="friends-list">
            {% for friend in friends %}
                <div class="friend-list-item">
                    <div class="row1">
                        <div class="profilepic" data-username="{{friend.username}}" style="">
                            <img class="rounded-circle availability" src="/{{friend.profile_pic}}" alt="">
                        </div>
                        <div class="lower">
                            <span class="mb-0 text-bold">{{friend.username}}</span>
                            <span>{{friend.description}}</span>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <button class="btn" style="color:var(--bs-red);"><i class="fa fa-trash fa-lg"></i></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Content End -->
{% endblock %}