{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- Content Start -->
    <div class="content">
        <!-- Widgets Start -->
        <div class="container-fluid pt-2 px-1">
            <div class="chatbanner">
                <h1 class="mb-0 heading-text">Chats</h1>
                <div id="current-chat">
                    <div id="chatdetails">
                        <span id="chat-username">Graphene</span>
                        <span id="chat-location">Berlin/Germany</span>
                    </div>
                    <div class="position-relative">
                        <img class="rounded-circle" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                </div>
            </div>
            <div class="chatcontainer">

                <div id="friends-profiles" class="">
                    {% for count in counts %}
                        <a class="profilepic" href="/chats/{{count}}">
                            {% comment %} <img class="rounded-circle flex-shrink-0" src="{% static 'img/user.jpg' %}" alt="" style="width: 50px; height: 42px;"> {% endcomment %}
                            <div class="position-relative">
                                <img class="rounded-circle" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 36px;">
                                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                            </div>
                        </a>
                    {% endfor %}
                    <br>
                    <br>
                </div>
                
                <div id="chats">
                    {% for count in counts %}
                        <div class="d-flex align-items-center border-bottom py-3">
                            <img class="rounded-circle flex-shrink-0" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">Jhon Doe</h6>
                                    <small>15 minutes ago</small>
                                </div>
                                <span>Short message goes here...</span>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
            <div id="message-container">
                <input style="width:100%;">
                <i class="fa fa-telegram me-2"></i>
            </div>
        </div>
        <!-- Widgets End -->
    </div>
    <!-- Content End -->
{% endblock %}